<div class="container">
  <div class="row">
    <div class="text-center col-sm-2 col-sm-offset-1">
      <label class="breaker-label">SERVER</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x12', '0x01')"
              class="breaker">30</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">FLIR</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x12', '0x02')"
              class="breaker">25</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">ETH SW</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x12', '0x04')"
              class="breaker">15</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">DIG MUX</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x12', '0x08')"
              class="breaker">2</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">ANA MUX</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x12', '0x10')"
              class="breaker">2</button>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-sm-2 col-sm-offset-1">
      <label class="breaker-label">MCN#1</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x12', '0x20')"
              class="breaker">3</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">MCN#2</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x12', '0x40')"
              class="breaker">3</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">MCN#3</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x12', '0x80')"
              class="breaker">3</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">MCN#4</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x13', '0x01')"
              class="breaker">3</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">12V BUS</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x13', '0x02')"
              class="breaker">10</button>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-sm-2 col-sm-offset-1">
      <label class="breaker-label">USB HUB</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x13', '0x04')"
              class="breaker">15</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">SERIAL</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x13', '0x08')"
              class="breaker">1</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">LTING</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x13', '0x10')"
              class="breaker">1</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">ENCODER</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x13', '0x20')"
              class="breaker">2</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">DVR</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x13', '0x40')"
              class="breaker">3</button>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-sm-2 col-sm-offset-1">
      <label class="breaker-label">AUDIO</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x20', '0x13', '0x80')"
              class="breaker">2</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">ISOCALL</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x21', '0x12', '0x01')"
              class="breaker">1</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">PRC 152</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x21', '0x12', '0x02')"
              class="breaker">1</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">EQENABLE</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x21', '0x12', '0x04')"
              class="breaker">1</button>
    </div>
    <div class="text-center col-sm-2">
      <label class="breaker-label">FAN</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, '0x21', '0x12', '0x08')"
              class="breaker">1</button>
    </div>
  </div>
</div>
