<div *ngIf="breakers" class="container">
  <div class="row">
    <div class="text-center col-sm-2" *ngFor="let breaker of breakers | slice:0:5; first as isFirst"
         [ngClass]="{'col-sm-offset-1': isFirst}">
      <label class="breaker-label">{{breaker.name}}</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, breaker.address, breaker.register, breaker.relay)"
              class="breaker">{{breaker.amps}}</button>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-sm-2" *ngFor="let breaker of breakers | slice:5:10; first as isFirst"
         [ngClass]="{'col-sm-offset-1': isFirst}">
    <label class="breaker-label">{{breaker.name}}</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, breaker.address, breaker.register, breaker.relay)"
              class="breaker">{{breaker.amps}}</button>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-sm-2" *ngFor="let breaker of breakers | slice:10:15; first as isFirst"
         [ngClass]="{'col-sm-offset-1': isFirst}">
    <label class="breaker-label">{{breaker.name}}</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, breaker.address, breaker.register, breaker.relay)"
              class="breaker">{{breaker.amps}}</button>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-sm-2" *ngFor="let breaker of breakers | slice:15:20; first as isFirst"
         [ngClass]="{'col-sm-offset-1': isFirst}">
    <label class="breaker-label">{{breaker.name}}</label>
      <button [disabled]="disableButtons"
              (click)="popBreaker($event, breaker.address, breaker.register, breaker.relay)"
              class="breaker">{{breaker.amps}}</button>
    </div>
  </div>
</div>
